

.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;

}

img {
  max-height: 250px;
  width: auto;
}

.jumbotron {
    opacity: 0.5;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-image: url(https://c.wallhere.com/photos/b6/2e/Pok_mon_Pink_Floyd_Eevee-42078.jpg!d);
  background-size: 100% 100%;
  margin: auto;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #403fd3;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
}
();
